/*
    Created on : 2019/08/20, 22:42:42
    Author     : tai
*/

.t2t-outer {
    position: fixed;
    top: 32px;
    text-align: center;
    width: 100%;
    /*font-size: 24px;*/
    /*line-height: 48px;*/
    z-index: 9999;
    &.production-site {
        background-color: #990000;
        color: white;
    }
    &.staging-site {
        background-color: #999900;
        color: white;
    }
    &.development-site {
        background-color: #000099;
        color: white;
    }
    &.local-site {
        background-color: #009900;
        color: white;
    }
    &.unknown-site {
        background-color: black;
        color: white;
    }
    #env-bold {
        font-weight: bold;
    }
    &.height_32px {
        font-size: 18px;
        line-height: 32px;
        height: 32px;
    }
    &.height_48px {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
    }
    &.height_64px {
        font-size: 28px;
        line-height: 64px;
        height: 64px;
    }
}

html,
html.wp-toolbar {
    padding-top: 64px;
    /*padding-top: 80px;*/
    /*padding-top: 96px;*/
}
